# Dependencies
/node_modules
/cap

# Environment variables
.env
.env.local

# Logs
/logs
/damage_logs
information_log.txt*

# Build output
/dist
/out
settings.json
player_registry.json

# Vite cache
.vite/
.vite-inspect/

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts.map

# Misc
.npmrc
pnpm-lock.yaml

# Electron packaged output
dist_electron/
